/* Making Responsive */
@media (max-width: 992px) {
    header {
      padding: 18px 4%;
    }
    section {
      padding: 50px 4%;
    }
  }
  @media screen and (max-width: 881px) {
    :root {
      --big-font: 2.7rem;
      --medium-font: 1.4rem;
    }
  }
  @media screen and (max-width: 768px) {
    :root {
      --big-font: 2.4rem;
      --medium-font: 1.2rem;
    }
    header {
      padding: 11px 4%;
    }
    #menu-icon {
      display: initial;
      color: var(--text-color);
    }
    header .navbar {
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
      transition: 0.2s ease;
      text-align: center;
    }
    .navbar.active {
      top: 100%;
    }
    .navbar a {
      padding: 1.5rem;
      display: block;
      background: var(--bg-color);
    }
    #darkmode {
      position: absolute;
      top: 1.4rem;
      right: 2rem;
    }
    .scroll-down {
      display: none;
    }
    .home {
      grid-template-columns: 0.5fr 3fr;
    }
    .home-text {
      grid-column: 1/3;
      padding-left: 1.4rem;
    }
    .home-img {
      order: initial;
    }
    .about-container {
      grid-template-columns: 1fr;
    }
    .about-img {
      display: flex;
      justify-content: center;
    }
    .skills-container {
      grid-template-columns: 1fr;
    }
    .skills-img img {
      padding-left: 0;
    }
    .skills-img {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }
  
    .slide-content {
      margin: 0 10px;
    }
    .swiper-navBtn {
      display: none;
    }
    .contact-form form {
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    :root {
      --big-font: 1.7rem;
      --medium-font: 1.1rem;
    }
    .home-text span {
      font-size: 1rem;
    }
    .home-text h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
    .information .info-box span {
      font-size: 1rem;
    }
    .contact-form form {
      width: 70%;
    }
  
    .btn-submit {
      display: flex;
    }
  }
  

/* Filter Portfolio */
@media (max-width: 1200px) {
    .item {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 992px) {
    .item {
      width: calc(50% - 20px);
    }
    .caption h3 {
      font-size: 14px;
    }
  }
  
  @media (max-width: 768px) {
    .item {
      width: calc(50% - 20px);
    }
    .caption h3 {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .item {
      width: 100%;
    }
    .caption h3 {
      font-size: 14px;
    }
  }

  /* Certificate */
  /* Media queries for responsiveness */
@media (max-width: 768px) {
    .card-certificate {
      flex: 0 0 100%; /* Full width on tablets */
      max-width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .card-certificate {
      flex: 0 0 100%; /* Full width on phones */
      max-width: 100%;
    }
  }