/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
}
:root {
  --main-color: #cc0000;
  --bg-color: #fff;
  --text-color: #000000;
  --hover: hsla(0, 0%, 57%, 0.767);

  --big-font: 50px;
  --medium-font: 38px;
  --p-font: 20px;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0f0f;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p-font);
  color: #b3b3b3;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}

/* Home */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home-img img {
  padding-top: 10px;
  width: 90%;
}

.home-img {
  order: 3;
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--main-color);
}
.home-text h2 {
  font-size: 20px;
  font-weight: bold;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 10px;
  font-size: 25px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 50px;
}
.btn:hover {
  background: var(--hover);
  color: black;
}

/* About */
.about-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.about-img img {
  border-radius: 50%;
  border: 5px solid black;
  width: 80%;
}
.about-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.about-text h1 {
  font-size: var(--big-font);
}
.about-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.about-text .btn {
  margin-top: 30px;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
}

/* Skills */
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Frontend */
.frontend-items {
  text-align: center;
  margin-top: 40px;
}

/* Backend */

.backend-items {
  text-align: center;
  margin-top: 40px;
}

/* Framework */

.framework-items {
  text-align: center;
  margin-top: 40px;
}

.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px;
}
.bars-box h3,
span {
  font-size: var(--p-font);
  font-weight: 500;
}

.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: hsla(0, 0%, 57%, 0.767);
  border-radius: 15px;
  border: 2px solid white;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15px;
  background: var(--main-color);
  border-radius: 15px;
}
.html-bar {
  width: 80%;
}
.css-bar {
  width: 60%;
}
.js-bar {
  width: 20%;
}
.vuejs-bar {
  width: 20%;
}
.sql-bar {
  width: 20%;
}
.bootstrap-bar {
  width: 60%;
}
.laravel-bar {
  width: 40%;
}

/* Services */
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 40px;
}
.services-box {
  padding: 20px;
  width: 100%;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #800303;
  margin-top: 40px;
}
.services-box:hover {
  transform: scale(1.1);
  transition: 1s;
}

.services-box p {
  padding: 0 20px;
}

.services-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}

.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.services-box:hover a {
  color: var(--hover);
}

/* Portfolio */
/* filtering */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  position: relative;
  width: 40%;
  margin: 10px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid hsla(0, 0%, 57%, 0.767);
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.caption {
  color: #fff;
  padding: 20px;
}

.caption h3 {
  margin-bottom: 20px;
}

.view-btn {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.view-btn .bx{
  font-size: 20px;
  justify-items: center;
  align-items: center;
}
.filters {
  text-align: center;
  margin-top: 20px;
}

.filter-btn {
  margin: 5px;
  padding: 9px 20px;
  border: none;
  border-radius: 20px;
}

.filter-btn.active {
  background-color: var(--main-color);
  color: white;
}

.item:hover .overlay {
  opacity: 1;
}

/* filtering */

.portfolio .heading a {
  color: var(--main-color);
}

/* Portfolio */

/* Certificate */
.card-container-certificate {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.card-certificate {
  flex: 0 0 50%; /* Two cards in a row */
  max-width: 50%;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

.card-certificate img {
  width: 80%;
  text-align: center;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
}

.caption-certificate {
  padding: 10px;
  background-color: #f1f1f1;
}
/* Certificate */

/* Contact */
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 79%, 0.767);
  margin-bottom: 14px;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}

.btn-submit {
  width: 160px;
  cursor: pointer;
  background: var(--main-color);
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-button {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.wrapper .icon {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper .icon span {
  position: relative;
  height: 60px;
  width: 60px;
  display: block;
  background: white;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.icon span i {
  font-size: 25px;
  line-height: 60px;
}

.wrapper a {
  color: var(--main-color);
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0px;
  background: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  bottom: -10px;
  left: 45%;
  transform: translateY(-50%) rotate(45deg);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #22cf91;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #ff0066;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #3399ff;
}

.footer {
  gap: 20px;
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}

