:root {
  /* colors */
  --bg-primary: #cc0000;
  --bg-secondary: #f2f2f2;
  /* font */
  --subHeading-font: 'Open Sans', sans-serif;
  --heading-font: 'Merriweather Sans', sans-serif;
}

body {
  background: white;
}

/* Navbar */
.navbar-brand span {
  font-family: var(--heading-font);
  color: var(--bg-primary);
  font-size: 30px;
  font-weight: bold;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.918) !important;
}

.navbar-nav {
  font-weight: 400;
  font-family: var(--subHeading-font);
}

.nav-link.active {
  font-weight: 900;
  color: var(--bg-primary) !important;
}

/* Home */
.home-text h1 {
  font-family: var(--heading-font);
  color: var(--bg-primary);
}

.home-text h2 {
  font-family: var(--subHeading-font);
  font-weight: bolder;
  text-transform: uppercase;
}

/* About */
.about-title h1 {
  font-family: var(--heading-font);
  color: black;
}

.about-img .img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text p {
  font-family: var(--subHeading-font);
}

.btn-pdf {
  background: var(--bg-primary);
  color: white;
  border-radius: 50px;
  transition-duration: 0.5s;
}

.btn-pdf:hover {
  background-color: white;
  color: var(--bg-primary);
  border: 1px solid var(--bg-primary); /* Green */
}

/* Skills */
.skills-title h1 {
  font-family: var(--heading-font);
}

.skills-text {
  font-family: var(--subHeading-font);
}

.level-text {
  color: var(--bg-primary);
}

/* Services */
.services-title h1 {
  font-family: var(--heading-font);
}

.services-item {
  font-family: var(--subHeading-font);
}

/* Portfolio */
.portfolio-title h1 {
  font-family: var(--heading-font);
}

.card {
  font-family: var(--subHeading-font);
}

.btn-card {
  background: var(--bg-primary);
  color: white;
}

.btn-load a {
  background-color: var(--bg-primary);
  color: white;
}

.load-more {
  font-family: var(--subHeading-font);
}

.new-card {
  display: none;
}

/* Contact */
.contact-title h1 {
  font-family: var(--heading-font);
}

.contact-item .icon {
  color: var(--bg-primary);
}

.btn-submit {
  background: var(--bg-primary);
  color: white;
  border-radius: 50px;
  transition-duration: 0.5s;
}

.btn-submit:hover {
  background-color: white;
  color: var(--bg-primary);
  border: 1px solid var(--bg-primary); /* Green */
}

/* Footer */
.footer {
  background-color: var(--bg-primary);
}
