:root {
  /* colors */
  --bg-primary: #cc0000;
  --bg-secondary: #f2f2f2;
  /* font */
  --subHeading-font: 'Open Sans', sans-serif;
  --heading-font: 'Merriweather', serif;
}

body {
  background: #971f1f;
}
