.home {
  height: 100vh;
  padding-top: 100px;
}

.about {
  padding-top: 100px;
}
.about {
  padding-top: 100px;
}

.skills {
  padding-top: 100px;
}

.services {
  padding-top: 100px;
}

.portfolio {
  padding-top: 100px;
}

@media screen and (max-width: 1920px) {
  .home {
    padding-top: 150px;
  }
}
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 1496px) {
}

@media screen and (max-width: 1366px) {
  .home {
    padding-top: 200px;
  }
}

@media screen and (max-width: 820px) {
  .home {
    padding-top: 400px;
  }
}
